APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/estrategia-nerd/public

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=estrategia_nerd
DB_USERNAME=root
DB_PASSWORD=

BACKUP_ROOT="D:\Taren\Documents\Backup\Estratégia Nerd"
BACKUP_RETENTION=14
BACKUP_MYSQLDUMP_BINARY="C:\xampp\mysql\bin\mysqldump.exe"
BACKUP_MYSQL_BINARY="C:\xampp\mysql\bin\mysql.exe"

BACKUP_PRODUCTION_DB_HOST=
BACKUP_PRODUCTION_DB_PORT=3306
BACKUP_PRODUCTION_DB_DATABASE=
BACKUP_PRODUCTION_DB_USERNAME=
BACKUP_PRODUCTION_DB_PASSWORD=

BACKUP_PRODUCTION_UPLOAD_MODE=ftp
BACKUP_PRODUCTION_FTP_HOST=
BACKUP_PRODUCTION_FTP_PORT=21
BACKUP_PRODUCTION_FTP_USERNAME=
BACKUP_PRODUCTION_FTP_PASSWORD=
BACKUP_PRODUCTION_FTP_ROOT=domains/estrategianerd.com.br/public_html/uploads
BACKUP_PRODUCTION_FTP_PASSIVE=true
